.navbutton {
  background-color: turquoise;
  padding: 11px 25px;
  width: 100px;
  text-align: center;
  display: inline-block;
  position: relative;
}

/* This turns the drop-down off when not used */
.dropdown-box {
  display: none;
  /* ABSOLUTE is the opposite of RELATIVE */
  position: absolute;
  z-index: 99;
  padding-top: 20px;
  /* We can have negative margins but not negative paddings. */
  margin-left: -25px;
}

/* This class turns the drop-down menu on during hover */
.navbutton:hover .dropdown-box {
  display: block;
}

/* navbutton that is inside dropdown-box */
.dropdown-box .navbutton {
  background-color: crimson;
}

.dropdown-box .navbutton:hover {
  background-color: rgb(252, 61, 252);
  transition-duration: 1s;
}
